{% extends "base.html" %}


{% block title %} Login {% endblock %}


{% block headeraddons %}
<script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>

{% endblock %}


{% block content %}
<div id="content">
	<div id="prompt">
  		<!-- if IE without GCF, prompt goes here -->
	</div>
	
	<h1>Login</h1>
	<div class="pure-g-r">
		<div class="pure-u-2-3">
    		<div class="textcontainer">
    			{% if user.is_authenticated %}
          You are already logged in !<br/>
          Did you mean: <a href="{% url 'logout' %}">logout</a> ?
          {% else %}
            {% include 'form.html' with button_text='Login' %}
          {% endif %}
    		</div>
  		</div>
  		<div class="pure-u-1-3">
			   {% include 'pastebin/latest_geometries.html' %}
  		</div>
	</div>
</div>
{% endblock %}