{% extends "base.html" %}


{% block title %} Password reset email sent {% endblock %}


{% block headeraddons %}
<script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>

{% endblock %}


{% block content %}
<div id="content">
	<div id="prompt">
  		<!-- if IE without GCF, prompt goes here -->
	</div>
	
	<h1>Reset email sent </h1>
	<div class="pure-g-r">
		<div class="pure-u-2-3">
    		<div class="textcontainer">
          You should have received an email containg password reset link.
          <br/>
          <br/>
          <a class="pure-button button-green" href="/todo/">Okay</a>
    		</div>
  		</div>
  		<div class="pure-u-1-3">
			   {% include 'pastebin/latest_geometries.html' %}
  		</div>
	</div>
</div>
{% endblock %}