{% extends "base.html" %}


{% block title %} Login {% endblock %}


{% block headeraddons %}
<script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>

{% endblock %}


{% block content %}
<div id="content">
	<div id="prompt">
  		<!-- if IE without GCF, prompt goes here -->
	</div>
	
	<h1>Reset password</h1>
	<div class="pure-g-r">
		<div class="pure-u-2-3">
    		<div class="textcontainer">
    			{% if user.is_authenticated %}
            You are already logged in !<br/>
            Why would you want to reset your password if you still can log in ?<br/>
            Please <a href="{% url 'logout' %}">log out</a> first.</br>
          {% else %}
            Please set a new password.<br/>
            </br>
            {% include 'form.html' with button_text='Reset' %}
          {% endif %}
    		</div>
  		</div>
  		<div class="pure-u-1-3">
			   {% include 'pastebin/latest_geometries.html' %}
  		</div>
	</div>
</div>
{% endblock %}