#header {
  margin: 5px;
  border-bottom: #eee 1px solid; }

#content {
  margin: 25px;
  margin-top: 0 px;
  margin-bottom: 0 px; }

#viewer {
  margin-top: 4px;
  margin-right: 4px;
  border-width: 6px;
  border-style: solid;
  border-color: #eeeeee;
  border-radius: 3px;
  background-color: #eee;
  height: 60%; }

#controls {
  margin-top: 4px;
  margin-right: 4px; }

#fileinfos {
  margin-top: 4px;
  margin-right: 4px;
  border-width: 6px;
  border-style: solid;
  border-color: #eeeeee;
  border-radius: 3px;
  background-color: #eee;
  height: 60%; }
  #fileinfos .pure-button {
    margin: 2px; }

.textcontainer {
  margin-top: 4px;
  margin-right: 4px;
  border-width: 6px;
  border-style: solid;
  border-color: #eeeeee;
  border-radius: 3px;
  background-color: #eee;
  padding-top: 4px;
  padding-left: 4px; }
  .textcontainer .uploads-list {
    list-style: none; }
    .textcontainer .uploads-list a {
      text-decoration: none; }
  .textcontainer .pure-form label {
    font-weight: bold;
    border-bottom: 1px solid #ccc; }
  .textcontainer .pure-form .errorlist {
    list-style: none;
    color: #e9322d; }
  .textcontainer .pure-form .browsebutton {
    font-size: 85%; }
  .textcontainer .resetlink {
    font-size: 75%;
    text-decoration: none; }

.button-green {
  background-color: #1CB841;
  color: #ffffff; }

.button-lightblue {
  background-color: #42B8DD;
  color: #ffffff; }
