<html>
<head>
	<title>past3d :: {% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{STATIC_URL}}css/pure/pure-min.css">
  
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome/css/font-awesome.min.css">
  <!--[if IE 7]>
  <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome/css/font-awesome-ie7.min.css">
  <![endif]-->

  <link rel="stylesheet" href="{{STATIC_URL}}css/layout.css">

  {% block headeraddons %}
  {% endblock %}
</head>
<body>
<div id="header">
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <a href="#" class="pure-menu-heading">past3d</a>

      <ul>
          <li ><a href="#">Home</a></li>
          <li><a href="{% url 'geometry_create' %}">New Paste</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign up</a></li>
          {% endif %}
      </ul>
  </div>
</div>
{% block content %}

{% endblock %}
</body>
</html>